#Works {
    height: auto !important; // autoScrolling : TRUE 인 경우 삭제.

    &.visible {
        .Item_container {
            transform: rotateX(0deg) translateY(0px);
            opacity: 1;

            &::before {
                filter: blur(25px);
                transform: translateY(0px);
            }
        }
    }
}

.Works1_container {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgba(27, 29, 33, 1) 0%, rgb(24, 25, 31) 33%, rgb(18, 18, 21) 70%, rgb(29, 31, 36) 100%);

    &>h1 {
        padding-top: 60px;
        text-align: center;
        font-size: 2.7rem;
        font-weight: 900;
    }

    .Item_container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding-bottom: 60px;
        opacity: 0;
        transform: translateY(150px);
        transition: 800ms ease;

        &::before {
            position: absolute;
            content: '';
            width: 800px;
            height: 20px;
            bottom: 0px;
            border-radius: 100%;
            background-color: black;
            filter: blur(15px);
            transform: translateY(-200px);
            transition: 800ms;
            opacity: 1;
            z-index: -1;
        }

        .Item_nav_prev {
            width: 100px;
            height: 100px;
            margin-right: 100px;
            margin-left: 100px;
            transform: rotate(90deg);
            background: url('../../src/img/arrow_1.png') 50% 50% no-repeat;
            background-size: 80px 80px;
            filter: invert(100%);
            opacity: 0;
            cursor: pointer;
            transition: 600ms;
            animation: Item_nav_prev 1500ms ease-in-out infinite;

            &.visible {
                opacity: 0.3;
            }

            &:hover {
                opacity: 0.8;
            }

            &.disable {
                opacity: 0.1;
            }
        }

        .Item_nav_next {
            width: 100px;
            height: 100px;
            margin-left: 100px;
            margin-right: 100px;
            transform: rotate(-90deg);
            background: url('../../src/img/arrow_1.png') 50% 50% no-repeat;
            background-size: 80px 80px;
            filter: invert(100%);
            opacity: 0;
            cursor: pointer;
            transition: 600ms;
            animation: Item_nav_next 1500ms ease-in-out infinite;

            &.visible {
                opacity: 0.3;
            }

            &:hover {
                opacity: 0.8;
            }

            &.disable {
                opacity: 0.1;
            }
        }

        .wi {
            display: none;

            &.visible {
                display: block;
            }

            .Item_wrap {
                width: 600px;
                display: flex;
                flex-direction: column;

                .IMG_wrap {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;
                    box-sizing: border-box;

                    img {
                        width: 100%;
                        will-change: transform;
                        transition: 300ms ease;

                       

                        &.mobileImg {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            height: auto;
                            width: 40%;
                        }
                    }

                    .IMG_main {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        background-color: #2B2B33;
                        aspect-ratio: 16 / 8;
                        box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
                        border: 1px solid rgba(255, 255, 255, 0.015);
                        overflow: hidden;
                        cursor: pointer;

                        &::after {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            line-height: 100%;
                            opacity: 0;
                            background-color: rgba(0, 0, 0, 0.2);
                            transition: 200ms ease;
                        }

                        &::before {
                            position: absolute;
                            content: '';
                            right: 15px;
                            bottom: 13px;
                            width: 22px;
                            height: 22px;
                            background: url('../../src/img/zoom.png') 50% 50% no-repeat;
                            background-size: 22px 22px;
                            color: white;
                            font-weight: 300;
                            font-size: 0.7;
                            opacity: 0;
                            filter: invert(100%) drop-shadow(0 0 4px rgba(0, 0, 0, 0.9));
                            z-index: 10;
                            transition: 200ms ease;
                        }

                        &:hover {
                            &::after {
                                opacity: 1;
                            }

                            &::before {
                                opacity: 1;
                            }
                        }
                    }

                    .IMG_sub_wrap {
                        width: 100%;
                        display: flex;
                        gap: 8px;

                        .IMG_sub {
                            position: relative;
                            width: 22%;
                            background-color: #2B2B33;
                            aspect-ratio: 16 / 8;
                            cursor: pointer;
                            overflow: hidden;
                            box-sizing: border-box;
                            border: 1px solid rgba(255, 255, 255, 0.015);
                            transition: 200ms ease;

                            &:hover {
                                border: 1px solid rgba(255, 255, 255, 0.2);
                            }

                            &.active {
                                border: 1px solid rgba(255, 255, 255, 0.2);

                                img {
                                    filter: brightness(60%);
                                }
                            }
                        }
                    }
                }

                .info_wrap {
                    position: relative;
                    padding-top: 20px;
                    margin-bottom: auto;

                    .info_title {
                        font-size: 1.7rem;
                        font-weight: 700;
                    }

                    .info_sub {
                        font-size: 0.9rem;
                        font-weight: 300;
                        color: #A4A4FF;
                    }

                    .info_main {
                        max-width: 100%;
                        margin-top: 20px;
                        font-size: 0.9rem;
                        font-weight: 300;
                        word-break: keep-all;

                        span {
                            margin-left: 5px;
                            padding-right: 30px;
                            color: rgb(255, 253, 135);
                            font-weight: 500;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .more_wrap {

                            display: none;

                            P {
                                font-weight: 500;
                                letter-spacing: 10px;
                                text-align: center;
                            }
                        }
                    }

                    .tag_wrap {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-top: 20px;
                        line-height: 100%;
                        font-size: 0.75rem;
                        font-weight: 300;

                        .tag {
                            padding: 8px 15px;
                            margin-right: 16px;
                            margin-bottom: 10px;
                            background-color: rgba(55, 55, 67, 0.7);
                            border-radius: 7px;
                            white-space: nowrap;
                            will-change: transform;
                            transition: transform 300ms;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }

                    .button_wrap {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        margin-top: 40px;

                        .more {
                            position: relative;
                            height: 38px;
                            line-height: 38px;
                            padding-right: 20px;
                            padding-left: 47px;
                            opacity: 1;
                            font-size: 0.9rem;
                            font-weight: 700;
                            color: rgb(0, 0, 0);
                            background-color: rgb(255, 255, 255);
                            transition: 150ms;
                            white-space: nowrap;
                            box-sizing: border-box;

                            &::before {
                                position: absolute;
                                content: '';
                                width: 30px;
                                height: 30px;
                                top: 50%;
                                left: 12px;
                                transform: translateY(-50%);
                                background: url(../../src/img/github2.png) 50% 50% no-repeat;
                                background-size: 22px 22px;
                                z-index: 10;
                            }

                            &.visible {
                                opacity: 1;
                            }

                            &:hover {
                                background-color: rgb(155, 155, 155);
                            }
                        }

                        .goto {
                            position: relative;
                            height: 38px;
                            line-height: 38px;
                            padding-right: 17px;
                            padding-left: 36px;
                            opacity: 1;
                            font-size: 0.9rem;
                            font-weight: 500;
                            color: rgb(255, 255, 255);
                            background-color: rgb(42, 42, 110);
                            transition: 150ms;
                            white-space: nowrap;

                            &::before {
                                position: absolute;
                                content: '';
                                width: 30px;
                                height: 30px;
                                top: 50%;
                                left: 5px;
                                transform: translateY(-50%);
                                background: url(../../src/img/go.png) 50% 50% no-repeat;
                                background-size: 12px 12px;
                                z-index: 10;
                                filter: invert(100%);
                            }

                            &.visible {
                                opacity: 1;
                            }

                            &:hover {
                                background-color: rgb(57, 57, 124);
                            }
                        }

                        .readme {
                            position: relative;
                            height: 38px;
                            line-height: 38px;
                            padding-right: 17px;
                            padding-left: 40px;
                            opacity: 1;
                            font-size: 0.9rem;
                            font-weight: 500;
                            color: rgb(255, 255, 255);
                            background-color: rgb(53, 53, 48);
                            transition: 150ms;
                            white-space: nowrap;
                            cursor: pointer;
                            user-select: none;

                            &::before {
                                position: absolute;
                                content: '';
                                width: 30px;
                                height: 30px;
                                top: 50%;
                                left: 7px;
                                transform: translateY(-50%);
                                background: url(../../src/img/readme.png) 50% 50% no-repeat;
                                background-size: 17px 17px;
                                z-index: 10;
                                filter: invert(100%);
                            }

                            &::after {
                                position: absolute;
                                content: '자세한 프로젝트 설명을 볼 수 있습니다.';
                                line-height: 30px;
                                height: 30px;
                                padding: 0px 20px;
                                bottom: -35px;
                                left: 0;
                                font-size: 0.75rem;
                                color: white;
                                background-color: black;
                                border-radius: 0px;
                                opacity: 0;
                                transition: 250ms;
                                pointer-events: none;
                            }

                            &:hover {
                                background-color: rgb(65, 65, 60);
                
                                &::after {
                                    opacity: 1;
                                }
                            }

                            &.visible {
                                opacity: 1;
                            }
                        }
                    }

                }

            }
        }

        .m_nav_wrap {
            position: absolute;
            display: none;
            width: 100%;
            bottom: -32px;
            max-width: 600px;
            justify-content: space-between;

            .next {
                width: 50px;
                height: 60px;
                margin-left: 50px;
                margin-right: 10px;
                transform: rotate(-90deg);
                background: url('../../src/img/arrow_1.png') 50% 50% no-repeat;
                background-size: 40px 40px;
                filter: invert(100%);
                opacity: 0.5;
                cursor: pointer;
            }

            .prev {
                width: 50px;
                height: 60px;
                margin-left: 10px;
                margin-right: 50px;
                transform: rotate(90deg);
                background: url('../../src/img/arrow_1.png') 50% 50% no-repeat;
                background-size: 40px 40px;
                filter: invert(100%);
                opacity: 0.5;
                cursor: pointer;
            }
        }
    }

    .readme_container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(13, 13, 13);
        opacity: 0;
        z-index: 9999999;
        pointer-events: none;
        transition: 350ms ease;

        &.visible {
            opacity: 1;
            pointer-events: auto;
        }

        .readme_background {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .readme_scroll {
            position: relative;
            width: 100%;
            max-width: 940px;
            height: 100vh;
            margin: 0 auto;
            color: black;
            background-color: rgb(235, 235, 235);
            overflow-y: auto;
            overflow-x: hidden;

            .readme_wrap {
                position: relative;
                width: 100%;
                min-height: 100vh;
                padding: 90px 70px;
                text-align: left;
                box-sizing: border-box;
                font-family: '맑은 고딕' !important;
                font-size: 0.9rem;
                font-weight: 500;

                p {
                    line-height: 1.8rem;
                }

                h1 {
                    position: relative;
                    padding-bottom: 0.5em;
                    margin-bottom: 0.6em;
                    font-size: 2.2rem;
                    font-weight: 900;
                    text-align: left;
                    border-bottom: 1.5px solid rgb(200, 200, 200);
                    span {
                        margin-left: 5px;
                        color: rgb(63, 63, 236);
                        font-size: 0.9rem;
                    }
                }

                h2 {
                    margin-bottom: 0.9rem;
                }
                
                h3 {
                    margin-top: 1.5rem;
                    margin-bottom: 0.7rem;
                }

                .label {
                    min-width: 140px;
                    color: rgb(120, 120, 120);
                    white-space: nowrap;
                }


                quotes {
                    display: block;
                    padding: 3px 6px;
                    background-color: rgb(223, 203, 236);
                    color: rgb(0, 0, 0);
                    font-size: 0.9rem;
                    border-radius: 5px;
                }
                .table {
                    &>ul> li {
                        display: flex;
                        margin-bottom: 10px;
                    }

                    a {
                        color: rgb(99, 99, 206);

                        &:hover {
                            text-decoration: underline;
                            text-underline-position: under;
                        }
                    }
                    .tags {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 4px;
                    }
                    margin-bottom: 30px;
                }
                

                .hr {
                    width: 100%;
                    height: 1.5px;
                    margin-bottom: 30px;
                    background-color: rgb(200, 200, 200);
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 30px;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
                    pointer-events: none;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 30px;
                    height: 100%;
                    right: 0;
                    top: 0;
                    background: linear-gradient(270deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
                    pointer-events: none;
                }

                .detailImg_wrap {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 10px;
                    margin-bottom: 50px;
                    img {
                        height: 300px;
                        object-fit: contain;
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 20px;
                height: 20px;
                display: block !important;
                background-color: rgb(13, 13, 13);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(109, 109, 122);
                border: 5px solid rgb(13, 13, 13);

                &:hover {
                    background-color: rgb(123, 125, 138);
                }
            }
        }

        .top {
            position: absolute;
            width: 100%;
            max-width: 940px;
            padding-right: 20px;
            height: 40px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            box-sizing: border-box;

            .close {
                position: absolute;
                right: 30px;
                top: 10px;
                width: 40px;
                height: 40px;
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: '';
                    width: 40px;
                    height: 40px;
                    background: url('../../src/img/close_icon.png') 50% 50% no-repeat;
                    background-size: 20px 20px;
                }
            }
        }

    }

    .sizeUP {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 300px;
        width: auto;
        min-height: 200px;
        height: 80%;
        opacity: 0;
        box-shadow: 0 0 30px black;
        pointer-events: none;
        transition: opacity 300ms ease;
        overflow: hidden;
        //cursor: pointer;
        z-index: 10000;

        .top {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 40px;
            padding: 0 10px;
            background-color: rgba(75, 60, 87, 0.95);
            border-bottom: 1px solid rgb(101, 81, 116);
            box-sizing: border-box;

            .close {
                position: relative;
                width: 40px;
                height: 40px;
                cursor: pointer;

                &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 69%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    background-color: rgb(89, 72, 102);
                    transition: 150ms;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 40px;
                    height: 40px;
                    background: url('../../src/img/close_icon.png') 50% 50% no-repeat;
                    background-size: 13px 13px;
                    filter: invert(100%);
                }

                &:hover::before {
                    opacity: 1;
                }
            }
        }

        .ct {
            height: calc(100% - 30px);
            background-color: #2B2B33;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 17px;
                height: 17px;
                display: block !important;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(183, 184, 199);

                &:hover {
                    background-color: rgb(137, 138, 151);
                }
            }

            &::-webkit-resizer {
                background: black;
            }

            img {
                position: relative;
                width: 85vw;
                top: 0;
                left: 50%;
                transform: translateX(-50%);

                &.mobileImg {
                    width: auto;
                    max-width: 40vw;
                    min-width: 25vw;
                    top: 0;
                    transform: translateX(-50%);
                }

                &.visualImg {
                    top: 0;
                    transform: translateX(-50%);
                }

                &.pastImg {
                    width: auto;
                    max-width: 65vw;
                    min-width: 30vw;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }


        &.visible {
            opacity: 1;
            pointer-events: auto;
        }

    }
}

.Item_nav_button_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding-bottom: 120px;
    opacity: 0;
    transition: 600ms;

    li {
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: rgba(80, 80, 90);
        cursor: pointer;
        transition: 300ms;

        &:hover {
            background-color: rgba(170, 170, 185);
        }

        &.active {
            transform: scale(1.2);
            background-color: white !important;
            filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.85));
        }

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 50%;
            padding: 20px 0;
            transform: translateY(-50%);
        }
    }

    &.visible {
        opacity: 1;
    }
}


//---ANIMATION---//
@keyframes Item_nav_prev {
    0% {
        transform: rotate(90deg) translateY(0px);
    }

    50% {
        transform: rotate(90deg) translateY(20px);
    }

    100% {
        transform: rotate(90deg) translateY(0px);
    }
}

@keyframes Item_nav_next {
    0% {
        transform: rotate(-90deg) translateY(0px);
    }

    50% {
        transform: rotate(-90deg) translateY(20px);
    }

    100% {
        transform: rotate(-90deg) translateY(0px);
    }
}

//--MEDIA_QUERY--//
@media (min-width: 901px) and (max-width: 1280px) {
    .Item_container {
        margin-top: 70px !important;
        justify-content: space-evenly !important;

        &::before {
            width: 700px !important;
            height: 18px !important;
            filter: blur(22px) !important;
        }

        .Item_nav_prev {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .Item_nav_next {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .IMG_sub {
            width: 22% !important;
        }
    }

    .sizeUP {
        height: 80% !important;
    }
}

@media (max-width: 900px) {
    .Works1_container {
        &>h1 {
            padding-top: 70px !important;
        }
    }

    .Item_container {
        margin-top: 50px !important;
        padding-bottom: 80px !important;

        &::before {
            display: none;
        }

        .Item_wrap {
            width: calc(100% - 40px) !important;
            margin: 0 20px !important;
            flex-direction: column !important;
        }

        .IMG_wrap {
            width: calc(100vw - 40px) !important;
        }

        .IMG_main {
            width: 100% !important;
        }

        .IMG_sub_wrap {
            display: none !important;
        }

        .info_main {
            max-width: 100% !important;
            font-size: 1rem !important;
        }

        .Item_nav_next {
            display: none !important;
        }

        .Item_nav_prev {
            display: none !important;
        }

        .m_nav_wrap {

            display: flex !important;
        }
    }

    .Item_nav_button_wrap {
        gap: 25px !important;
        padding-bottom: 120px;

        li {
            width: 9px !important;
            height: 9px !important;
            border-radius: 100% !important;
        }
    }

    .readme_wrap {
        padding: 80px 30px !important;
    }

    .sizeUP {
        width: 100% !important;
        height: 100% !important;
        top: 0px !important;
        transform: translate(-50%, 0%) !important;

        .top {
            background-color: rgba(75, 60, 87, 1) !important;
        }

        .ct {
            height: calc(100% - 40px) !important;
        }

        img {
            width: auto !important;
            max-width: 900px !important;
            left: 0% !important;
            transform: translateX(0%) !important;

            &.mobileImg {
                width: 100% !important;
            }
        }
    }
}

@media (max-width: 450px) {
    .info_wrap {
        .info_main {
            font-size: 0.9rem !important;
        }

        .info_title {
            font-size: 1.4rem !important;
        }
    }

    .tag_wrap {
        .tag {
            padding: 7px 10px !important;
            margin-right: 7px !important;
            margin-bottom: 7px !important;
        }
    }

    .button_wrap {
        font-size: 0.7rem !important;

        &>a>div {
            height: 35px !important;
            line-height: 35px !important;
        }

        .more {
            width: 100% !important;
        }
    }

    .Works1_container {
        .readme_container {
            h1 {
                font-size: 1.7rem !important;
            }

            .readme_scroll {
                &::-webkit-scrollbar {
                    display: none !important;
                }
            }
        }
    }
}
